.clicked {
    padding: 2px 0;
    font-weight: bold;
    background-color: #ECF1F2 !important;
}

.settings-button {
    margin-bottom: 1px;
    width: 9%;
    height: 9%;
    text-align: center;
    background-color: #F7F9FE;
    padding: 2px 0;
    border: 1px solid #ccc;
}

.settings-button:focus {
    outline: none;
}

.family-select {
    width: 49%;
    padding: 1.5px 0px;
}

.size-select {
    padding: 1.5px 0px;
}