<button 
    [ngClass]="{clicked: formattingSettings[item].fontWeight === 'bold'}" 
    (click)="toggleFontWeight()" class="button"
    class="settings-button">B
</button>
<button 
    [ngClass]="{clicked: formattingSettings[item].fontStyle  === 'italic'}" 
    (click)="toggleFontStyle()" class="button"
    class="settings-button">I
</button>
<button 
    [ngClass]="{clicked: formattingSettings[item].textDecoration  === 'underline'}" 
    (click)="toggleTextDecoration()" class="button"
    class="settings-button">U
</button>
<select name="font-family" [(ngModel)]="formattingSettings[item].fontFamily" (change)="changeFontFamily($event.target.value)"
class="family-select">
    <option *ngFor="let fontFamily of fontFamilies" [value]="fontFamily">{{fontFamily}}</option>
</select>
<select name="font-size" cl [(ngModel)]="formattingSettings[item].fontSize" (change)="changeSize($event.target.value)"
class="size-select">
    <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
</select>