<div id="container" class="ms-font-m">
    <div class="ms-Grid">
        <div class="ms-Grid-row ms-fontColor-white">
            <div class="ms-Grid-col ms-u-sm12 ">
                <command-bar [title]="title"></command-bar>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>