.option {
     width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 4px;
}

.option--active {
    background-color: #20B2AA;
    color: white;
}
