

input, select, button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 

.login-container {
    margin-top: 0px;
}

.overview-button {
    width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.overview-button[disabled] {
    background-color: #ECE8DD;
}

.overview-button[disabled]:hover {
    background-color: #ECE8DD;
}

.overview-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}

.login-row {
 float:right;
}

.login-p {
    font-variant: small-caps;
    text-align: left;
    font-size: 24px;
    margin: 10px auto;
    color: #4B8080;
}

.login-row input {
    padding: 6px 0px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px;
    max-width: 13em;
    width: 12em;
}

.login-row {
    margin-bottom: 10px;
}

.login-row select {
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px;
    max-width: 13em;
    width: 12em;
    display: inline-block;
}

.login-row option {
    width: 100px;
}