<div>
    <form>
        <div class="login-container">
            <p class="login-p">start a new project</p>
            <div class="login-row">
                <span>Document dir: </span>
                <input type="text" name="documentDir" [(ngModel)]="documentDir" [ngModelOptions]="{standalone: true}">
            </div>
            
            <div class="login-row">
                <span>{{ 'PACKAGE_SIZE' | i18n }}: </span>
                <select [(ngModel)]="packageSize" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let options of optionsList" [ngValue]="options">{{options}}MB</option>
                </select>
            </div>
        </div>
        <div>
            <button type="button" (click)="authenticate()" class="overview-button" [disabled]="!documentDir.length">{{'CREATE_PROJECT' | i18n }}</button>
        </div>
    </form>
</div>