.breadcrumb-span {
    cursor: default;
    color: #48D1CC;
    font-size: 11px;
    font-variant: small-caps;
    font-family: 'Verdana', sans-serif;
    transition: color 0.3s;
}

.breadcrumb-span:hover {
    cursor: pointer;
    color: #03A89E;
    transition: color 0.3s;
}


