.pack-files-button {
    width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    transition: background-color 0.5s;
}

.pack-files-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}

.pack-files-container {
    text-align: center;
}