<div class="breadcrumbs">
    <breadcrumb destination="overview" titled="Overview"></breadcrumb>
    <breadcrumb destination="formatting-overview" titled="Settings"></breadcrumb>
    <breadcrumb-dead titled="Attachment Settings"></breadcrumb-dead>
</div>
<div class="ms-Grid">
    <div class="ms-Grid-row overview-container">
        <div class="ms-Grid-col ms-u-sm12" *ngFor="let detail of details">
            <button type="button" class="ms-button overview-button" [routerLink]="[detail.route]">
                {{detail.title}}
            </button>
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <back-button destination="formatting-overview"></back-button>
        </div> 
    </div>
    
</div>

