<div class="breadcrumbs">
    <breadcrumb destination="overview" titled="Overview"></breadcrumb>
    <breadcrumb destination="formatting-overview" titled="Settings"></breadcrumb>
    <breadcrumb destination="attachment-settings-overview" titled="Attachment settings"></breadcrumb>
    <breadcrumb-dead titled="Select Formatting"></breadcrumb-dead>
</div>
<alert-message [alertMessage]="alertMessage" [showMessage]="showAlert" (close)="onClose()"></alert-message>

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12">
        <select [(ngModel)]="newFormattingsSettings" class="document-select">
            <option *ngFor="let formattings of formattingsList" [ngValue]="formattings" >{{formattings.name}}</option>
        </select>
    </div>
</div>
<div class="ms-Grid-row overview-container">
    <button class="ms-button overview-button" (click)="changeFormattingsSettings()" type="button">
        {{ 'USE_FORMATTING' | i18n }}
    </button>
</div>
<div class="ms-Grid-row"> 
    <div class="ms-Grid-col ms-u-sm12">
        <back-button destination="attachment-settings-overview"></back-button>
    </div> 
</div>
