<div class="breadcrumbs">
    <breadcrumb destination="overview" titled="Overview"></breadcrumb>
    <breadcrumb-dead titled="Settings"></breadcrumb-dead>
</div>
<div class="ms-Grid">
    <div class="ms-Grid-row overview-container ">
        <div class="overview-container login-container ms-Grid-col ms-u-sm12">
            <login></login>
        </div>
        <div class="ms-Grid-col ms-u-sm12" *ngFor="let detail of details">
            <button type="button" class="ms-button overview-button" [routerLink]="[detail.route]">
                {{detail.title}}
            </button>
        </div>
        <div class="ms-Grid-col ms-u-sm12 number-from">
            <label>Number from:</label>
            <input class="form-control" [(ngModel)]="startAttNumber" value="startAttNumber" type="number">
            <button class="ms-button overview-button"  (click)="saveStartAttNumber()" type="button">Save</button>
        </div>


    </div>
    <div class="ms-Grid-row">
            <back-button style="float:left" destination="overview"></back-button>
    </div>
</div>

