<div class="breadcrumbs">
<breadcrumb destination="overview" titled="Overview"></breadcrumb>
 <breadcrumb destination="timeline-overview" titled="Timeline"></breadcrumb>
<breadcrumb-dead titled="Add new event"></breadcrumb-dead>
</div>


<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="tabs-navigation">
            <div (click)="changeTabs(0)" class="tab-nav" [ngClass]="{'active-tab': this.currentTab === 0}">Add new event</div> <div (click)="changeTabs(1)"  class="tab-nav" [ngClass]="{'active-tab': this.currentTab === 1}">Event list</div>
        </div>
    </div>
    
    <div *ngIf="currentTab == 0" class="tab">
        <p>Date</p>
        <button class="overview-button">Add selected text</button>
        <textarea class="overview-textarea" #eventDate></textarea>
         <p>Event</p>
        <button class="overview-button">Add selected text</button>
        <textarea class="overview-textarea" #eventName></textarea>
        <button class="overview-button create-button" (click)="createEvent(eventDate.value, eventName.value)">Create new event</button>
    </div>
    
    <div *ngIf="currentTab == 1">
        <div *ngFor="let event of events; let i = index;" class="list-item">
            <div><span class="list-number">{{i+1}}.</span><span class="list-label">Date: </span>{{event.date}}</div>
            <span class ="list-label list-event">Event: </span>{{event.name}}
        </div>
    </div>
    
     <div class="ms-Grid-row"> 
        <div class="ms-Grid-col ms-u-sm12">
            <back-button destination="timeline-overview"></back-button>
        </div> 
    </div>
    
<div>