
.breadcrumbs {
    width: 20em;
    margin: 1px auto;
}

breadcrumb:after {
    content: '>>';
    font-size: 8px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}

.tabs-navigation {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    height: 30px;
}

.tab-nav {
    width: 47%;
    display: block;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 5px;
    color: #03234E;
    border-radius: 4px 4px 0px 0px;
}

.tab-nav:first-child {
    margin-left: 3%;
}

.tab-nav:hover {
    cursor: pointer;
}

.active-tab {
    border-left: 1px solid #D0CCC2;
    border-top: 1px solid #D0CCC2;
    border-right: 1px solid #D0CCC2;
    border-bottom: 1px solid #fff;
    color: #219ACE;
    
}

.active-tab:hover {
    cursor: default;
}

.overview-textarea {   
    width: 20em;
    height: 50px;
    margin: 10px auto 0;
    border-radius: 4px;
    padding: 4px;
    border-color:  #ccc;
    display: block;
}

.overview-button {
    width: 20em;
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 10px;
    transition: background-color 0.5s;
    margin: 10px auto 0;
}

.create-button {
    font-weight: bold;
    margin-top: 15px;
}

p {
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    color: #4B8080;
    z-index: 10;
}

p:before {
    border-bottom: 1px solid #BACBD9;
    content: '';
    display: block;
    width: 36%;
    position: relative;
    top: 14px;
}

p:after {
    border-bottom: 1px solid #BACBD9;
    content: '';
    display: block;
    width: 36%;
    position: relative;
    left: 64%;
    top: -13px;
}

.overview-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}

.tab {
   
}

.list-item {
    font-size: 13px;
    margin: 10px auto;
}

.list-number {
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}


.list-label {
     color: #4B8080;
     font-variant: small-caps;
}

.list-event {
    margin-left: 16px;
}
