.document-select {
    width: 100%;
    display: block;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px;
    height: 32px;
    margin-top: 5px;
}


.document-select option {
    padding: 4px;
}
.button-right {
    text-align: right;
    display: inline-block;
    margin-left: 7em;
}

.listOption {
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 0.25em 0;
}

div[class^="settings-"] {
    padding: 0.5em;
}

.label {
    margin-bottom: 0.2em;
}

.left-button {
    display: inline-block;
    text-align: left;
}

.button {
    width: 290px;
    display: inline-block;
    padding: 6px 0.5m;
    margin: 0 0.5em;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.button:hover {
    background-color: #ccc;
}

.right-button {
    text-align: right;
    display: inline-block;
}

.buttons {
    /*text-align: center;*/
    text-align: center;
}

.back-row {
    
}
.delete-button {
    width: 100%;
    display: inline-block;
    padding: 6px ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.22857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    background-color: #ff0020;
    border-color: #ccc;
    margin: 20px auto 0;
    margin-bottom: 10px;
    transition: background-color 0.5s;
    box-sizing: border-box;
}

.overview-button {
    width: 92%;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 10px auto 0;
    transition: background-color 0.5s;
    box-sizing: border-box;
}

.ms-Grid-col:first-child {
    #margin-top: 20px;
}

.overview-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;

}

.overview-container {
    text-align: center;
}

form {
    margin-top: 20px;
    width: 92%;
    margin: 20px auto 0;
}

.name-input {
    width: 100%;
    margin: 0 auto;
}

back-button {
    margin-left: 1em;
}

.breadcrumbs {
    width: 20em;
    margin: 1px auto;
}

breadcrumb:after {
    content: '>>';
    font-size: 8px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}