<div class="breadcrumbs">
    <breadcrumb destination="overview" titled="Overview"></breadcrumb>
    <breadcrumb destination="formatting-overview" titled="Settings"></breadcrumb>
    <breadcrumb destination="attachment-settings-overview" titled="Attachment settings"></breadcrumb>
    <breadcrumb-dead titled="Create formatting"></breadcrumb-dead>
</div>
<alert-message [alertMessage]="alertMessage" [showMessage]="showAlert" (close)="onClose()"></alert-message>
<form>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <label>Chose Settings</label>
            <select (ngModelChange)="choseFormatting($event)" [(ngModel)]="chosenFormattingSetting"  [ngModelOptions]="{standalone: true}" class="document-select">
                <option *ngFor="let formatting of formattingCollection" [ngValue]="formatting" >{{formatting.name}}</option>
            </select>
            <button class="ms-button delete-button" (click)="deleteFormatting()" type="button">Delete this style</button>
        </div>
    </div>
    <div class="name-input">
        <label>Name for this set of settings</label>
        <input type="text" class="form-control" [(ngModel)]="formattingName" name="name">
    </div>
    <div *ngFor="let label of labels let i = index">
        <formatting-settings-item
            [label]="label" 
            [item]="items[i+1]"
            [formattingSettings]="formattingSettings"
            (changeSetting)="changeSettings($event.value)">
        </formatting-settings-item>
    </div>

</form>
<div class="buttons">
    <div>
        <button class="ms-button overview-button" (click)="saveSettings()" type="button">{{ 'SAVE_FORMATTINGS_SETTINGS' | i18n }}</button>
    </div>
    <div>
        <button class="ms-button overview-button" #settingsFile *ngIf="isSettingsSaved" type="button" (click)="downloadSettings()">{{'DOWNLOAD_FORMATTINGS_SETTINGS' | i18n}}</button>
    </div>
    
</div>
<div class="ms-Grid-row back-row"> 
    <div class="ms-Grid-col ms-u-sm12">
        <back-button destination="attachment-settings-overview"></back-button>
    </div>
</div>

