<div class="breadcrumbs">
    <breadcrumb destination="overview" titled="Overview"></breadcrumb>
    <breadcrumb destination="formatting-overview" titled="Settings"></breadcrumb>
    <breadcrumb destination="list-settings-overview" titled="List settings"></breadcrumb>
    <breadcrumb-dead titled="List position settings"></breadcrumb-dead>
</div>

<div class="listOption">
        <label>Place to insert the attachment list</label>
        <ui-toggle [optionsList]="options" [(selectedOption)]="selectedListOption"></ui-toggle>
        <button class="overview-button" (click)="saveSettings()">Save settings</button>
    
         
            <back-button destination="list-settings-overview"></back-button>
        
</div>
