<div class="ms-Grid">
    <div >
        <div class="ms-Grid-row overview-container">
            <div class="ms-Grid-col ms-u-sm12" *ngFor="let detail of details">
                <button type="button" class="ms-button overview-button" [routerLink]="[detail.route]">
                    {{detail.title}}
                </button>
            </div>
        </div>
    </div>
    
</div>