<button id="addListOfAttachments"
        class="end-list-button"
        (click)="addListOfAttachments()"
        type="button">
    {{ 'LIST_OF_ATTACHMENTS' | i18n }}
</button>
<button id="updateListOfAttachments"
        class="end-list-button"
        (click)="updateListOfAttachments()"
        type="button">
    Update List of Attachments
</button>
