

<div class="ms-Grid">
    <div class="ms-Grid-row overview-container">
        <div class="ms-Grid-col ms-u-sm12" *ngFor="let detail of details">
            <button type="button" class="ms-button overview-button" [routerLink]="[detail.route]">
                {{detail.title}}
            </button>
        </div>

    </div>

    <div class="ms-Grid-row"> 
    <div class="ms-Grid-col">
        <back-button destination="overview"></back-button>
    </div> 
</div>
</div>

