.document-select {
    width: 20em;
    height: 26px;
    margin: 20px auto 0px;
    display: block;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px;
    height: 32px;
}


.document-select option {
    padding: 4px;
}

.document-button {
    width: 90%;
    margin: 13px auto;
    background-color: #0078d7;
    border: 0;
    height: 28px;
    color: #fff;
    display: block;
}

.document-button:hover {
    cursor: pointer;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.8;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
    padding: 0;
    cursor: pointer;
    background: none;
}

.close:hover, .close:active {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.overview-button {
    width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.overview-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}


.overview-container {
    text-align: center;
}

back-button {
    margin-left: 1.1em;
}

.breadcrumbs {
    width: 21em;
    margin: 1px auto;
}

breadcrumb:after {
    content: '>>';
    font-size: 8px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}