.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.8;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
    padding: 0;
    cursor: pointer;
    background: none;
}

.close:hover, .close:active {
    filter: alpha(opacity=70);
    opacity: 0.7;
}