.form-control {
    width: 100%;
    box-sizing: border-box;
}

.form-control {
    padding: 0.25em 0;
}

div[class^="settings-"] {
    margin-top: 20px;
}

.label {
    margin-bottom: 0.2em;
}

.left-button {
    display: inline-block;
    text-align: left;
}