.overview-button {
    width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.ms-Grid-col:first-child {
    
}

.overview-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;

}

.overview-container {
    text-align: center;
}

back-button {
   margin-left: 0.7em;
}

.breadcrumbs {
    width: 21em;
    margin: 1px auto;
}

breadcrumb:after {
    content: '>>';
    font-size: 8px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}