<div class="breadcrumbs">
    <breadcrumb destination="overview" titled="Overview"></breadcrumb>
    <breadcrumb-dead titled="Summary"></breadcrumb-dead>
</div>
<div class="ms-Grid">
    <div class="ms-Grid-row summary-container">
       <button class="summary-button" type="button" (click)="addToSummary()">
            Add To Summary
        </button>

<textarea id="summaryTextArea" class="summary-textarea" (ngModelChange)="summaryChange($event)" [ngModel]="summaryText"></textarea>
        <button class="summary-button" type="button" (click)="insertSummary()">
            Insert Summary
        </button>
    </div>
    <div class="ms-Grid-row back-container"> 
            <back-button destination="overview"></back-button>
    </div>

</div>


