.summary-button {
    width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 20px auto 10px;
    transition: background-color 0.5s;
}

.summary-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}

.summary-container {
    text-align: center;
}
.summary-textarea {
    width: 20em;
    height: 150px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 4px;
}

textarea {
    border: 1px solid #ccc;
}

.summary-span {
    text-align: left;
    display: block;
    width: 20em;
    margin: 0 auto 4px;
    padding-left: 6px;
}

.back-container {
    width: 20em;
    margin: 0 auto;
}

back-button {
    margin-left: 0;
}

.breadcrumbs {
    width: 20em;
    margin: 1px auto;
}

breadcrumb:after {
    content: '>>';
    font-size: 8px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}