.timeline-lightbox {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.93);
    z-index: 99999;
    width: 100%;
    height: 120vh;
    top: -50px;
    margin: 0;
    padding: 0;
    border-box: content-box;
}

.timeline-close {
    text-align: right;
    color: #888;
    position: relative;
    top: 50px;
    left: -50px;
    font-size: 32px;
    transition: color 0.5s;
}

.timeline-close:hover {
    color: #000;
    cursor: pointer;
    transition: color 0.5s;
}

.timeline-heading {
    margin-top: 70px;
    text-align: center;
    color: #77aca2;
}

.timeline-form {
    margin: 40px auto 0;
    width: 20em;
}

.timeline-date-label, .timeline-summary-label {
    width: 22%;
    display: inline-block;
    text-align: right;
    margin-bottom: 15px;
    margin-right: 2px;
}

#timeline-date, #timeline-summary {
    width: 65%;
    padding: 6px 2px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}



button {
    width: 10em;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 0px;
    border: 1px solid #ccc;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}
button:last-child {
    margin-left: 1em;
}

button[disabled] {
    background-color: #ECE8DD;
}

button[disabled]:hover {
    background-color: #ECE8DD;
}