<div class="timeline-lightbox">
    <div class="timeline-close" (click)="closeLightbox()">&times;</div>
    <h2 class="timeline-heading">{{heading}}</h2>
    
    <div class="timeline-form">
        <label for="timeline-date" class="timeline-date-label">{{ 'DATE' | i18n }}:</label>
        <input type="text" id="timeline-date" [(ngModel)]="date">
        <label for="timeline-summary" class="timeline-summary-label">{{ 'EVENT' | i18n }}:</label>
        <input type="text" id="timeline-summary" [(ngModel)]="event">
        <button (click)="closeLightbox()">
            {{ 'CANCEL' | i18n }}</button><button (click)="updateTimeline()" [disabled]="!date.length || !event.length">OK</button>
    </div>
    
</div>

