
input, select, button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 

textarea, select {
    border: 1px solid #ccc;
}

.overview-button {
    width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.ms-Grid-col:first-child {
    
}

.overview-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;

}

.overview-container {
    text-align: center;
}

table {
    width: 20em;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing:0;
}

thead {
    background-color: #20B2AA;
}

th {
    padding: 5px 0px;
    color: #F5F5DC;
    border: 1px solid #c0c0c0;
}

th:first-child {
    border-right: 1px solid #F5F5DC;
    width: 6em;
}

th:nth-child(2) {
    border-right: 1px solid #20B2AA;
    box-sizing: border-box;
    padding-left: 2em;
}

th:last-child {
    width: 2em;
}

td {
    border: 1px solid #c0c0c0;
    padding: 4px 0px;
}

td:first-child {
    text-align: center;
}

td:nth-child(2) {
    text-align: justify;
    padding: 4px;
    border-right: 1px solid #ffffff;
}


.summary-text {
    
}
.breadcrumbs {
    width: 20em;
    margin: 1px auto;
}

breadcrumb:after {
    content: '>>';
    font-size: 8px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}

.p-decoration {
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    color: #4B8080;
    z-index: 10;
}

.p-decoration:before {
    border-bottom: 1px solid #BACBD9;
    content: '';
    display: block;
    width: 20%;
    position: relative;
    top: 14px;
}

.p-decoration:after {
    border-bottom: 1px solid #BACBD9;
    content: '';
    display: block;
    width: 20%;
    position: relative;
    left: 80%;
    top: -13px;
}

.overview-textarea {   
    width: 20em;
    height: 50px;
    margin: 10px auto 0;
    border-radius: 4px;
    padding: 4px;
    border-color:  #ccc;
    display: block;
}

.assign-button {
    margin-top: 3px;
    width: 19.6em;
}

.p-assign {
    text-align: left;
    width: 20em;
    margin: 0 auto;
}

.summary-text {
    width: 11em;
}


.summary-icons {
    width: 2em;
    text-align: center;
    vertical-align: baseline;
}


fa {
    color: #a1d2ce;
    transition: color 0.5s;
}

fa:hover {
    cursor: pointer;
    color: #20B2AA;
    transition: color 0.5;
}

.p-info {
    width: 20em;
    margin: 0 auto;
    color: #4c5454;
}

.event-button {
    width: 15em;
    float: right;
    box-sizing: border-box;
    padding: 4px 12px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-color: #ccc;
    font-size: 13px;
}

.event-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}

.event-wrapper {
    width: 20em;
    margin: 5px auto 0;
    border-radius: 4px;
}

.icon-plus {
    margin-right: 4px;
    color: #a1d2ce;
}

.event-button:hover .icon-plus fa {
    color: #20B2AA;
}

.timeline-select {
    width: 21em;
    margin: 15px auto 0;
    padding: 6px 0px;
    border-radius: 4px;
    border-color: #ccc;
}

.timeline-select {
    padding-left: 6px;
}

.generate-button {
    margin-top: 5px;
}


.overview-button[disabled] {
    background-color: #ECE8DD;
}

.overview-button[disabled]:hover {
    background-color: #ECE8DD;
}