<timeline-input  (close)="hideLightbox($event)" *ngIf="showLightbox" [eventIndex]="eventIndex"></timeline-input>
<div class="breadcrumbs">
    <breadcrumb destination="overview" titled="Overview"></breadcrumb>
    <breadcrumb-dead titled="Timeline"></breadcrumb-dead>
</div>
<div class="ms-Grid">
    <div class="ms-Grid-row overview-container">
        <p class="p-decoration">{{ 'ADD_NEW_EVENT' | i18n }}</p>
        <p class="p-assign">Select text in document and click 'Assign'</p>
        <button class="overview-button assign-button" (click)="assignToTimeline()">Assign</button>
        <textarea class="overview-textarea" [(ngModel)]="assignedText"></textarea>
        <button class="overview-button create-button" (click)="createEvent()" [disabled]="!assignedText.length">{{ 'CREATE_EVENT' | i18n }}</button>
         <p class="p-decoration">{{ 'CURRENT_TIMELINE' | i18n }}</p>
         
         <table *ngIf="this.events.length">
            <thead>
                <th>{{ 'DATE' | i18n }}</th> 
                <th>{{ 'EVENT' | i18n }}</th>
                <th></th>
            </thead>
             
             <tbody>
                 
                 <tr *ngFor="let event of events; let i = index;">
                     <td>{{event.date}}</td>
                     
                         <td class="summary-text">{{event.summary}}</td>
                         <td class="summary-icons">
                            <div class="icon-edit" title="Edit this event"><fa [name]="'pencil'" (click)="editEvent(i)"></fa></div>
                            <div class="icon-up" title="Move this event up"><fa [name]="'arrow-up'" (click)="moveUp(i)"></fa></div>
                            <div class="icon-down" title="Move this event down"><fa [name]="'arrow-down'" (click)="moveDown(i)"></fa></div>
                            <div class="icon-delete" title="Delete this event"><fa [name]="'trash'" (click)="deleteEvent(i)"></fa></div>
                         </td>
                     
                     
                 </tr>
                 
             </tbody>
             
         </table>
        
        <p class="p-info" *ngIf="!this.events.length">
            {{ 'NO_EVENTS' | i18n }}
        </p>
           <div class="event-wrapper">
                <button type="button" class="event-button" (click)="addNewEvent()">
                    <span class="icon-plus"><fa [name]="'plus'"></fa></span>{{ 'ADD_EVENT' | i18n }}
                </button>
           </div>    
            
            <select class="timeline-select" [(ngModel)]="timelineOption" >
                <option value="table" [ngValue]="table">{{ 'TABLE' | i18n }}</option>
                <option value="line" [ngValue]="line">{{ 'LINE' | i18n }}</option>
            </select>
        
            <button type="button" class="ms-button overview-button generate-button" [disabled]="!events.length" (click)="generateTimeline()">
                {{ 'GENERATE_TIMELINE' | i18n }}
            </button>
         
      </div>
    <div class="ms-Grid-row"> 
        <div class="ms-Grid-col overview-container">
            <back-button destination="overview"></back-button>
        </div> 
    </div>
    
</div>