<div class="settings-desc">
        <div class="label">{{ label | i18n }}:</div>
        <settings-controls 
            [item]="item" 
            [formattingSettings]="formattingSettings"
            (toggle)="changeFormattingSettings($event.value)">
        </settings-controls>
        <input class="form-control" [(ngModel)]="formattingSettings[item].value" [attr.name]="item" type="text">
</div>