<div class="breadcrumbs">
<breadcrumb destination="overview" titled="Overview"></breadcrumb>
<breadcrumb-dead titled="Attachments"></breadcrumb-dead>
</div>

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="tabs-navigation">
            <div (click)="changeTabs(0)" class="tab-nav" [ngClass]="{'active-tab': this.currentTab === 0}">Menu</div> <div (click)="changeTabs(1)"  class="tab-nav" [ngClass]="{'active-tab': this.currentTab === 1}">List <span class="label-hidden" [ngClass]="{'plus': false, 'label': this.added}">Added!</span></div>
        </div>
    </div>
   
  <div class="tab" *ngIf="this.currentTab === 0">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12">
                <p>{{description}}</p>
            </div>
        </div>
        
       <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 extra-space">
                <assign (add)="addedNewItem()"></assign>
            </div>

            <div class="ms-Grid-col ms-u-sm12 extra-space">
                <end-list></end-list>
            </div>
        
            <div class="ms-Grid-col ms-u-sm12 extra-space">
                <common-pdf></common-pdf>
            </div>

            <div class="ms-Grid-col ms-u-sm12 extra-space">
                <stamp-upload></stamp-upload>
            </div>
           <div class="ms-Grid-col ms-u-sm12 extra-space">
               <pack-files></pack-files>
           </div>
           <div class="ms-Grid-col ms-u-sm12 extra-space">
               <clear-office-settings></clear-office-settings>
           </div>

        </div>

    </div>
    
    <div class="tab" *ngIf="this.currentTab === 1">
        

    <div  class="ms-Grid-row attachments-list attachments-list-inner">
        <div class="ms-Grid-col ms-u-sm12 attachment-item">
                <input id="search" [(ngModel)]="query" placeholder="Search...">
        </div>
        <div *ngFor="let att of container.getAttachments()| search:'content':query; let i = index"
            class="ms-Grid-col ms-u-sm12 attachment-item" >

            <div class="ms-Grid-row ">
                <div (click)="attachmentClicked(att)" class="ms-Grid-col ms-u-sm8">
                    {{i+1}}.<span class="attachment-content"> {{att.content}} </span>
                </div>
                <div class="col-right ms-Grid-col ms-u-sm4">
                    <span *ngIf="att.filePath!=''" (click)="connectFile(att)">
                        [...{{att.filePathShort()}}]
                    </span>
                    <span *ngIf="att.filePath==''" (click)="connectFile(att)">
                        Select file
                    </span>
                    <span (click)="deleteAttachment(att)" class="btn-delete-file">
                        - delete
                    </span>
                    <span  *ngIf="att.fileBase64 !== '' || att.filePath !== ''" 
                        (click)="downloadAttachment(att)" class="btn-download-file">
                        - download
                        </span>

                        <input #attFile 
                            type="file" 
                            name="file-{{att.id}}" 
                            id="file-{{att.id}}" 
                            class="file-input"  
                            style="display: none;" 
                            (change)="fileSelected(att, $event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ms-Grid-row">
        <div class="back-wrapper">
            <back-button destination="overview"></back-button>
        </div>
    </div>
</div>