
@keyframes plusss{
    0% {
        opacity: 1;
        transform: scale(1,1);
    }
    
    100% {
        opacity: 0;
        transform: scale(7,7);
        
    }
}

@keyframes labeeel{
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

#search {
    width: 21em;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #48D1CC;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.attachments-list {
    list-style: none;
    
}

.attachments-list-inner {
    width: 21em;
    margin: 0 auto;
    display: block;
}

.attachments-list .attachment-item {
    border-bottom: 1px solid #E4E8D5;
    color: #555;
    cursor: pointer;
    padding: 6px;
    font-weight: bold;
}

.attachments-list .attachment-item:hover {
    color: #000;
    background-color: #F5F5DC;
}


.attachments-list .attachment-item .attachment-content {
    font-size: 12px;
    font-weight: normal;
}

.attachments-list .col-right {
    text-align: right;
}

.attachments-list .col-right span {
    color: #888;
    font-size: 10px;
}

.attachments-list .col-right span:hover {
    color: #000;
}

.attachments-list .col-right span.btn-delete-file,
.attachments-list .col-right span.btn-delete-file:hover {
    color: #ea3636;
}


.hide {
    display: none;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.8;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
    padding: 0;
    cursor: pointer;
    background: none;
}

.close:hover, .close:active {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.interaction-button {
    width: 20em;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #D0CCC2;
    transition: background-color 0.5s;
}

.interaction-button:hover {
    background-color: #F5F5DC;
    transition: background-color 0.5s;
}

.interaction-container {
    text-align: center;
}


.extra-space {
    margin-top: 10px;
}

.tabs-navigation {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    height: 28px;
}

.tab-nav {
    width: 47%;
    display: block;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 4px;
    color: #03234E;
    border-radius: 4px 4px 0px 0px;
}

.tab-nav:first-child {
    margin-left: 3%;
}

.tab-nav:hover {
    cursor: pointer;
}

.active-tab {
    border-left: 1px solid #D0CCC2;
    border-top: 1px solid #D0CCC2;
    border-right: 1px solid #D0CCC2;
    border-bottom: 2px solid #fff;
    color: #219ACE;
    
}

.active-tab:hover {
    cursor: default;
}

.tab {
    width: 20em;
    margin: 0 auto;
}

.plus {
   
}

.plus:after {
    content: '+';
    right: 10%;
    font-weight: bold;
    animation: plusss 1s;
    animation-fill-mode: forwards;
    position: absolute;
    margin-right: 5px;
    transform-origin: 50% 50%;
    color: #3D9140;
    animation-timing-function: ease-out;
}

.label-hidden {
    opacity: 0;
    transition: opacity 0.5s;
    right: 10%;
    top: 24px;
    font-weight: bold;
    position: absolute;
    margin-right: 5px;
    transform-origin: 50% 50%;
    color: #E4EDE2;
    font-size: 20px;
}

.label {
   transition: opacity 0.5s;
   opacity: 1;
}

.breadcrumbs {
    width: 20em;
    margin: 1px auto;
}

breadcrumb:after {
    content: '>>';
    font-size: 8px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}

.back-wrapper {
    width: 20em;
    margin: 0 auto;
}